In this end-to-end ML project, data from [Home Credit Default Risk](https://www.kaggle.com/competitions/home-credit-default-risk) competition will be used to build a classification model to predict a default. All steps of your typical Machine Learning project plan will be covered:

* Get Data and Define your problem
* Explore the data (EDA)
* Prepare data for modelling (Feature engineering and selection)
* Compare performance of several selected models
* Fine tune the selected model
* Present your solution (Interpretability)

# Importing data and libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 150)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

There are 7 different sources of data:

* application_train/application_test: the main training and testing data with information about each loan application at Home Credit. Every loan has its own row and is identified by the feature SK_ID_CURR. The training application data comes with the TARGET indicating 0: the loan was repaid or 1: the loan was not repaid.
* bureau: data concerning client's previous credits from other financial institutions. Each previous credit has its own row in bureau, but one loan in the application data can have multiple previous credits.
* bureau_balance: monthly data about the previous credits in bureau. Each row is one month of a previous credit, and a single previous credit can have multiple rows, one for each month of the credit length.
* previous_application: previous applications for loans at Home Credit of clients who have loans in the application data. Each current loan in the application data can have multiple previous loans. Each previous application has one row and is identified by the feature SK_ID_PREV.
* POS_CASH_BALANCE: monthly data about previous point of sale or cash loans clients have had with Home Credit. Each row is one month of a previous point of sale or cash loan, and a single previous loan can have many rows.
* credit_card_balance: monthly data about previous credit cards clients have had with Home Credit. Each row is one month of a credit card balance, and a single credit card can have many rows.
* installments_payment: payment history for previous loans at Home Credit. There is one row for every made payment and one row for every missed payment.

The goal (problem needs to be solved) is to use all this data to build a model that can predict whether a given applicant is going to repay the loan ('good' customer) or default ('bad'). This type of models are used by banks and non-bank financial institutions to mitigate losses. Hence, that's quite interesting (and challenging) problem.

In [2]:
app_train=pd.read_csv('data/application_train.csv')
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.500,24700.500,351000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,-3648.000,-2120,NaN,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,-1134.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.500,35698.500,1129500.000,Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,-1186.000,-291,NaN,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,NaN,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.000,6750.000,135000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,-4260.000,-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.556,0.730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.500,29686.500,297000.000,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,-9833.000,-2437,NaN,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.000,21865.500,513000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,-4311.000,-3458,NaN,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,-1106.000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000

In [3]:
app_train.shape

(307511, 122)

In [4]:
app_train.info(verbose=2, show_counts=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    SK_ID_CURR                    307511 non-null  int64
 1    TARGET                        307511 non-null  int64
 2    NAME_CONTRACT_TYPE            307511 non-null  object
 3    CODE_GENDER                   307511 non-null  object
 4    FLAG_OWN_CAR                  307511 non-null  object
 5    FLAG_OWN_REALTY               307511 non-null  object
 6    CNT_CHILDREN                  307511 non-null  int64
 7    AMT_INCOME_TOTAL              307511 non-null  float64
 8    AMT_CREDIT                    307511 non-null  float64
 9    AMT_ANNUITY                   307499 non-null  float64
 10   AMT_GOODS_PRICE               307233 non-null  float64
 11   NAME_TYPE_SUITE               306219 non-null  object
 12   NAME_INCOME_TYPE              307511 non-null  object
 13   NAME_EDUCATION_TYPE           307511 non-null  object
 14   NAME_FAMILY_STATUS            307511 non-null  object
 15   NAME_HOUSING_TYPE             307511 non-null  object
 16   REGION_POPULATION_RELATIVE    307511 non-null  float64
 17   DAYS_BIRTH                    307511 non-null  int64
 18   DAYS_EMPLOYED                 307511 non-null  int64
 19   DAYS_REGISTRATION             307511 non-null  float64
 20   DAYS_ID_PUBLISH               307511 non-null  int64
 21   OWN_CAR_AGE                   104582 non-null  float64
 22   FLAG_MOBIL                    307511 non-null  int64
 23   FLAG_EMP_PHONE                307511 non-null  int64
 24   FLAG_WORK_PHONE               307511 non-null  int64
 25   FLAG_CONT_MOBILE              307511 non-null  int64
 26   FLAG_PHONE                    307511 non-null  int64
 27   FLAG_EMAIL                    307511 non-null  int64
 28   OCCUPATION_TYPE               211120 non-null  object
 29   CNT_FAM_MEMBERS               307509 non-null  float64
 30   REGION_RATING_CLIENT          307511 non-null  int64
 31   REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 32   WEEKDAY_APPR_PROCESS_START    307511 non-null  object
 33   HOUR_APPR_PROCESS_START       307511 non-null  int64
 34   REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 35   REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 36   LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 37   REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 38   REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 39   LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 40   ORGANIZATION_TYPE             307511 non-null  object
 41   EXT_SOURCE_1                  134133 non-null  float64
 42   EXT_SOURCE_2                  306851 non-null  float64
 43   EXT_SOURCE_3                  246546 non-null  float64
 44   APARTMENTS_AVG                151450 non-null  float64
 45   BASEMENTAREA_AVG              127568 non-null  float64
 46   YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 47   YEARS_BUILD_AVG               103023 non-null  float64
 48   COMMONAREA_AVG                92646 non-null   float64
 49   ELEVATORS_AVG                 143620 non-null  float64
 50   ENTRANCES_AVG                 152683 non-null  float64
 51   FLOORSMAX_AVG                 154491 non-null  float64
 52   FLOORSMIN_AVG                 98869 non-null   float64
 53   LANDAREA_AVG                  124921 non-null  float64
 54   LIVINGAPARTMENTS_AVG          97312 non-null   float64
 55   LIVINGAREA_AVG                153161 non-null  float64
 56   NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 57   NONLIVINGAREA_AVG             137829 non-null  float64
 58   APARTMENTS_MODE               151450 non-null  float64
 59   BASEMENTAREA_MODE             127568 non-null  float64
 60   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 61   YEARS_BUILD_MODE              103023 non-null  float64
 62   COMMONAREA_MODE               92646 non-null   float64
 63   ELEVATORS_MODE                143620 non-null  float64
 64   ENTRANCES_MODE                152683 non-null  float64
 65   FLOORSMAX_MODE                154491 non-null  float64
 66   FLOORSMIN_MODE                98869 non-null   float64
 67   LANDAREA_MODE                 124921 non-null  float64
 68   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 69   LIVINGAREA_MODE               153161 non-null  float64
 70   NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 71   NONLIVINGAREA_MODE            137829 non-null  float64
 72   APARTMENTS_MEDI               151450 non-null  float64
 73   BASEMENTAREA_MEDI             127568 non-null  float64
 74   YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 75   YEARS_BUILD_MEDI              103023 non-null  float64
 76   COMMONAREA_MEDI               92646 non-null   float64
 77   ELEVATORS_MEDI                143620 non-null  float64
 78   ENTRANCES_MEDI                152683 non-null  float64
 79   FLOORSMAX_MEDI                154491 non-null  float64
 80   FLOORSMIN_MEDI                98869 non-null   float64
 81   LANDAREA_MEDI                 124921 non-null  float64
 82   LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 83   LIVINGAREA_MEDI               153161 non-null  float64
 84   NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 85   NONLIVINGAREA_MEDI            137829 non-null  float64
 86   FONDKAPREMONT_MODE            97216 non-null   object
 87   HOUSETYPE_MODE                153214 non-null  object
 88   TOTALAREA_MODE                159080 non-null  float64
 89   WALLSMATERIAL_MODE            151170 non-null  object
 90   EMERGENCYSTATE_MODE           161756 non-null  object
 91   OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 95   DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 96   FLAG_DOCUMENT_2               307511 non-null  int64
 97   FLAG_DOCUMENT_3               307511 non-null  int64
 98   FLAG_DOCUMENT_4               307511 non-null  int64
 99   FLAG_DOCUMENT_5               307511 non-null  int64
 100  FLAG_DOCUMENT_6               307511 non-null  int64
 101  FLAG_DOCUMENT_7               307511 non-null  int64
 102  FLAG_DOCUMENT_8               307511 non-null  int64
 103  FLAG_DOCUMENT_9               307511 non-null  int64
 104  FLAG_DOCUMENT_10              307511 non-null  int64
 105  FLAG_DOCUMENT_11              307511 non-null  int64
 106  FLAG_DOCUMENT_12              307511 non-null  int64
 107  FLAG_DOCUMENT_13              307511 non-null  int64
 108  FLAG_DOCUMENT_14              307511 non-null  int64
 109  FLAG_DOCUMENT_15              307511 non-null  int64
 110  FLAG_DOCUMENT_16              307511 non-null  int64
 111  FLAG_DOCUMENT_17              307511 non-null  int64
 112  FLAG_DOCUMENT_18              307511 non-null  int64
 113  FLAG_DOCUMENT_19              307511 non-null  int64
 114  FLAG_DOCUMENT_20              307511 non-null  int64
 115  FLAG_DOCUMENT_21              307511 non-null  int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

# EDA

## Column Types & Counts

Let's see how many columns of different types the dataset has

In [5]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

What about cardinality of categorical variables (how many unique values each of them has)?

In [6]:
app_train.select_dtypes('object').nunique().sort_values(ascending=False)

ORGANIZATION_TYPE             58
OCCUPATION_TYPE               18
NAME_INCOME_TYPE               8
NAME_TYPE_SUITE                7
WEEKDAY_APPR_PROCESS_START     7
WALLSMATERIAL_MODE             7
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
NAME_EDUCATION_TYPE            5
FONDKAPREMONT_MODE             4
CODE_GENDER                    3
HOUSETYPE_MODE                 3
NAME_CONTRACT_TYPE             2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
EMERGENCYSTATE_MODE            2
dtype: int64

Default prediction is usually an imbalanced classification problem (as there are usually much less defaults than non-defaults)

In [7]:
app_train['TARGET'].value_counts(normalize=True)

0   0.919
1   0.081
Name: TARGET, dtype: float64

## Missing Values

Missing values can cause some problems during modelling. Several approaches can be used for handling them: dropping rows with NaNs entirely (the most basic and least optimal way), dropping columns with huge portion of NaNs, imputation (by mean, median, mode, special value), etc. One also could use models that can natively handle NaNs (KNN, tree-based models).

In [8]:
def miss_table(data):
    miss_table=data.isna().sum().to_frame(name='Count')
    miss_table['Percent']=miss_table['Count']/len(data)*100
    miss_table['Dtype']=data.dtypes[miss_table.index]
    miss_table['Count']=miss_table['Count'].replace({0: np.nan})
    miss_table=miss_table.dropna()
    print(f"There are {len(miss_table)}/{data.shape[1]} columns with missing values")
    print('Distribution by dtypes:')
    print(miss_table['Dtype'].value_counts())
    return miss_table.sort_values(by='Count', ascending=False)

mt=miss_table(app_train)
mt

There are 67/122 columns with missing values
Distribution by dtypes:
float64    61
object      6
Name: Dtype, dtype: int64

                                  Count  Percent    Dtype
COMMONAREA_MEDI              214865.000   69.872  float64
COMMONAREA_AVG               214865.000   69.872  float64
COMMONAREA_MODE              214865.000   69.872  float64
NONLIVINGAPARTMENTS_MEDI     213514.000   69.433  float64
NONLIVINGAPARTMENTS_MODE     213514.000   69.433  float64
NONLIVINGAPARTMENTS_AVG      213514.000   69.433  float64
FONDKAPREMONT_MODE           210295.000   68.386   object
LIVINGAPARTMENTS_MODE        210199.000   68.355  float64
LIVINGAPARTMENTS_MEDI        210199.000   68.355  float64
LIVINGAPARTMENTS_AVG         210199.000   68.355  float64
FLOORSMIN_MODE               208642.000   67.849  float64
FLOORSMIN_MEDI               208642.000   67.849  float64
FLOORSMIN_AVG                208642.000   67.849  float64
YEARS_BUILD_MODE             204488.000   66.498  float64
YEARS_BUILD_MEDI             204488.000   66.498  float64
YEARS_BUILD_AVG              204488.000   66.498  float64
OWN_CAR_AGE                  202929.000   65.991  float64
LANDAREA_AVG                 182590.000   59.377  float64
LANDAREA_MEDI                182590.000   59.377  float64
LANDAREA_MODE                182590.000   59.377  float64
BASEMENTAREA_MEDI            179943.000   58.516  float64
BASEMENTAREA_AVG             179943.000   58.516  float64
BASEMENTAREA_MODE            179943.000   58.516  float64
EXT_SOURCE_1                 173378.000   56.381  float64
NONLIVINGAREA_MEDI           169682.000   55.179  float64
NONLIVINGAREA_MODE           169682.000   55.179  float64
NONLIVINGAREA_AVG            169682.000   55.179  float64
ELEVATORS_MEDI               163891.000   53.296  float64
ELEVATORS_MODE               163891.000   53.296  float64
ELEVATORS_AVG                163891.000   53.296  float64
WALLSMATERIAL_MODE           156341.000   50.841   object
APARTMENTS_MODE              156061.000   50.750  float64
APARTMENTS_MEDI              156061.000   50.750  float64
APARTMENTS_AVG               156061.000   50.750  float64
ENTRANCES_MODE               154828.000   50.349  float64
ENTRANCES_AVG                154828.000   50.349  float64
ENTRANCES_MEDI               154828.000   50.349  float64
LIVINGAREA_MEDI              154350.000   50.193  float64
LIVINGAREA_MODE              154350.000   50.193  float64
LIVINGAREA_AVG               154350.000   50.193  float64
HOUSETYPE_MODE               154297.000   50.176   object
FLOORSMAX_MEDI               153020.000   49.761  float64
FLOORSMAX_AVG                153020.000   49.761  float64
FLOORSMAX_MODE               153020.000   49.761  float64
YEARS_BEGINEXPLUATATION_AVG  150007.000   48.781  float64
YEARS_BEGINEXPLUATATION_MEDI 150007.000   48.781  float64
YEARS_BEGINEXPLUATATION_MODE 150007.000   48.781  float64
TOTALAREA_MODE               148431.000   48.269  float64
EMERGENCYSTATE_MODE          145755.000   47.398   object
OCCUPATION_TYPE               96391.000   31.346   object
EXT_SOURCE_3                  60965.000   19.825  float64
AMT_REQ_CREDIT_BUREAU_WEEK    41519.000   13.502  float64
AMT_REQ_CREDIT_BUREAU_DAY     41519.000   13.502  float64
AMT_REQ_CREDIT_BUREAU_MON     41519.000   13.502  float64
AMT_REQ_CREDIT_BUREAU_QRT     41519.000   13.502  float64
AMT_REQ_CREDIT_BUREAU_HOUR    41519.000   13.502  float64
AMT_REQ_CREDIT_BUREAU_YEAR    41519.000   13.502  float64
NAME_TYPE_SUITE                1292.000    0.420   object
DEF_30_CNT_SOCIAL_CIRCLE       1021.000    0.332  float64
OBS_60_CNT_SOCIAL_CIRCLE       1021.000    0.332  float64
DEF_60_CNT_SOCIAL_CIRCLE       1021.000    0.332  float64
OBS_30_CNT_SOCIAL_CIRCLE       1021.000    0.332  float64
EXT_SOURCE_2                    660.000    0.215  float64
AMT_GOODS_PRICE                 278.000    0.090  float64
AMT_ANNUITY                      12.000    0.004  float64
CNT_FAM_MEMBERS                   2.000    0.001  float64
DAYS_LAST_PHONE_CHANGE            1.000    0.000  float64

Lots of nulls in the data. Sometimes, missing value is not an error or data loss, but a marker that could separate a sample others. Let's see whether default rates of samples with and without NaNs differ.

In [9]:
def default_missing(data, x, y='TARGET'):
    null_target=data.loc[app_train[x].isna(), y]
    null_target_mean=null_target.mean()*100
    not_null_target=data.loc[app_train[x].notna(), y]
    not_null_target_mean=not_null_target.mean()*100
    return [null_target.shape[0], not_null_target.shape[0], null_target_mean, not_null_target_mean]

In [10]:
missing_target_df=pd.DataFrame(columns=['Missing', 'Non Missing', 'Missing Default', 'Non Missing Default'])

for c in mt.index:
    missing_target_df.loc[c]=default_missing(app_train, c)
    
missing_target_df['Default Diff']=missing_target_df['Missing Default']-missing_target_df['Non Missing Default']

In [11]:
missing_target_df.sort_values(['Default Diff'], ascending=[False])

,Missing,Non Missing,Missing Default,Non Missing Default,Default Diff
AMT_REQ_CREDIT_BUREAU_DAY,41519.000,265992.000,10.337,7.719,2.618
AMT_REQ_CREDIT_BUREAU_QRT,41519.000,265992.000,10.337,7.719,2.618
AMT_REQ_CREDIT_BUREAU_HOUR,41519.000,265992.000,10.337,7.719,2.618
AMT_REQ_CREDIT_BUREAU_MON,41519.000,265992.000,10.337,7.719,2.618
AMT_REQ_CREDIT_BUREAU_WEEK,41519.000,265992.000,10.337,7.719,2.618
AMT_REQ_CREDIT_BUREAU_YEAR,41519.000,265992.000,10.337,7.719,2.618
EMERGENCYSTATE_MODE,145755.000,161756.000,9.261,7.003,2.258
TOTALAREA_MODE,148431.000,159080.000,9.234,6.990,2.244
ENTRANCES_MODE,154828.000,152683.000,9.179,6.952,2.227
ENTRANCES_AVG,154828.000,152683.000,9.179,6.952,2.227
ENTRANCES_MEDI,154828.000,152683.000,9.179,6.952,2.227
FLOORSMAX_MEDI,153020.000,154491.000,9.191,6.965,2.226
FLOORSMAX_AVG,153020.000,154491.000,9.191,6.965,2.226
FLOORSMAX_MODE,153020.000,154491.000,9.191,6.965,2.226
YEARS_BEGINEXPLUATATION_MEDI,150007.000,157504.000,9.205,6.995,2.210
YEARS_BEGINEXPLUATATION_AVG,150007.000,157504.000,9.205,6.995,2.210
YEARS_BEGINEXPLUATATION_MODE,150007.000,157504.000,9.205,6.995,2.210
ELEVATORS_AVG,163891.000,143620.000,9.101,6.900,2.200
ELEVATORS_MODE,163891.000,143620.000,9.101,6.900,2.200
ELEVATORS_MEDI,163891.000,143620.000,9.101,6.900,2.200
APARTMENTS_MEDI,156061.000,151450.000,9.153,6.959,2.194
APARTMENTS_MODE,156061.000,151450.000,9.153,6.959,2.194
APARTMENTS_AVG,156061.000,151450.000,9.153,6.959,2.194
HOUSETYPE_MODE,154297.000,153214.000,9.151,6.987,2.164
LIVINGAREA_AVG,154350.000,153161.000,9.142,6.995,2.147
LIVINGAREA_MODE,154350.000,153161.000,9.142,6.995,2.147
LIVINGAREA_MEDI,154350.000,153161.000,9.142,6.995,2.147
WALLSMATERIAL_MODE,156341.000,151170.000,9.128,6.982,2.147
NONLIVINGAREA_MODE,169682.000,137829.000,9.035,6.889,2.146
NONLIVINGAREA_MEDI,169682.000,137829.000,9.035,6.889,2.146
NONLIVINGAREA_AVG,169682.000,137829.000,9.035,6.889,2.146
BASEMENTAREA_MODE,179943.000,127568.000,8.913,6.888,2.025
BASEMENTAREA_AVG,179943.000,127568.000,8.913,6.888,2.025
BASEMENTAREA_MEDI,179943.000,127568.000,8.913,6.888,2.025
LANDAREA_AVG,182590.000,124921.000,8.820,6.981,1.839
LANDAREA_MEDI,182590.000,124921.000,8.820,6.981,1.839
LANDAREA_MODE,182590.000,124921.000,8.820,6.981,1.839
YEARS_BUILD_AVG,204488.000,103023.000,8.681,6.866,1.814
YEARS_BUILD_MODE,204488.000,103023.000,8.681,6.866,1.814
YEARS_BUILD_MEDI,204488.000,103023.000,8.681,6.866,1.814
FLOORSMIN_MODE,208642.000,98869.000,8.631,6.895,1.736
FLOORSMIN_AVG,208642.000,98869.000,8.631,6.895,1.736
FLOORSMIN_MEDI,208642.000,98869.000,8.631,6.895,1.736
LIVINGAPARTMENTS_AVG,210199.000,97312.000,8.621,6.888,1.733
LIVINGAPARTMENTS_MEDI,210199.000,97312.000,8.621,6.888,1.733
LIVINGAPARTMENTS_MODE,210199.000,97312.000,8.621,6.888,1.733
FONDKAPREMONT_MODE,210295.000,97216.000,8.619,6.892,1.727
NONLIVINGAPARTMENTS_AVG,213514.000,93997.000,8.584,6.913,1.671
NONLIVINGAPARTMENTS_MODE,213514.000,93997.000,8.584,6.913,1.671
NONLIVINGAPARTMENTS_MEDI,213514.000,93997.000,8.584,6.913,1.671
COMMONAREA_MEDI,214865.000,92646.000,8.574,6.910,1.664
COMMONAREA_AVG,214865.000,92646.000,8.574,6.910,1.664
COMMONAREA_MODE,214865.000,92646.000,8.574,6.910,1.664
EXT_SOURCE_3,60965.000,246546.000,9.312,7.767,1.545
OWN_CAR_AGE,202929.000,104582.000,8.500,7.244,1.256
EXT_SOURCE_1,173378.000,134133.000,8.520,7.496,1.024
EXT_SOURCE_2,660.000,306851.000,7.879,8.073,-0.195
AMT_GOODS_PRICE,278.000,307233.000,7.554,8.073,-0.519
OCCUPATION_TYPE,96391.000,211120.000,6.513,8.785,-2.272
NAME_TYPE_SUITE,1292.000,306219.000,5.418,8.084,-2.666
DEF_30_CNT_SOCIAL_CIRCLE,1021.000,306490.000,3.526,8.088,-4.562
OBS_60_CNT_SOCIAL_CIRCLE,1021.000,306490.000,3.526,8.088,-4.562
DEF_60_CNT_SOCIAL_CIRCLE,1021.000,306490.000,3.526,8.088,-4.562
OBS_30_CNT_SOCIAL_CIRCLE,1021.000,306490.000,3.526,8.088,-4.562
DAYS_LAST_PHONE_CHANGE,1.000,307510.000,0.000,8.073,-8.073
CNT_FAM_MEMBERS,2.000,307509.000,0.000,8.073,-8.073
AMT_ANNUITY,12.000,307499.000,0.000,8.073,-8.073

So, there is clearly a difference in default rates here. A popular approach in credit scoring is [WOE transformation](https://www.listendata.com/2015/03/weight-of-evidence-woe-and-information.html) of data and modelling with Logistic Regression. LogReg cannot handle NaNs on its own, but during WOE transformation step, missing values can be grouped in one bin and imputed with the computed WOE value. I'm going to use boosting algorithms, so they can handle missing values themselves (by choosing the node that results in minimal loss).

## Outliers

Another problem that lots of data scientists face is extremal values, outliers. Outliers can be a massive problem for ML models and can significantly decrease their performance. What you could do is drop outliers entirely, cap them, impute by mean/median, etc. Tree-based classification models are [not affected by them that much](https://datascience.stackexchange.com/questions/31434/handling-outliers-and-null-values-in-decision-tree). Also, note taht there can is a univariate and multivariate outlier detection. Refer to [PyOD docs](https://pyod.readthedocs.io/en/latest/) to learn how one can deal with them. There are dozens of various techniques.

Firstly look at summary statistics. Look for huge gaps between minimum, mean, and maximum

In [12]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000,307511.000,307511.000,307511.000,307511.000,307499.000,307233.000,307511.000,307511.000,307511.000,307511.000,307511.000,104582.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307509.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,134133.000,306851.000,246546.000,151450.000,127568.000,157504.000,103023.000,92646.000,143620.000,152683.000,154491.000,98869.000,124921.000,97312.000,153161.000,93997.000,137829.000,151450.000,127568.000,157504.000,103023.000,92646.000,143620.000,152683.000,154491.000,98869.000,124921.000,97312.000,153161.000,93997.000,137829.000,151450.000,127568.000,157504.000,103023.000,92646.000,143620.000,152683.000,154491.000,98869.000,124921.000,97312.000,153161.000,93997.000,137829.000,159080.000,306490.000,306490.000,306490.000,306490.000,307510.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,265992.000,265992.000,265992.000,265992.000,265992.000,265992.000
mean,278180.519,0.081,0.417,168797.919,599026.000,27108.574,538396.207,0.021,-16036.995,63815.046,-4986.120,-2994.202,12.061,1.000,0.820,0.199,0.998,0.281,0.057,2.153,2.052,2.032,12.063,0.015,0.051,0.041,0.078,0.230,0.180,0.502,0.514,0.511,0.117,0.088,0.978,0.752,0.045,0.079,0.150,0.226,0.232,0.066,0.101,0.107,0.009,0.028,0.114,0.088,0.977,0.760,0.043,0.074,0.145,0.222,0.228,0.065,0.106,0.106,0.008,0.027,0.118,0.088,0.978,0.756,0.045,0.078,0.149,0.226,0.232,0.067,0.102,0.109,0.009,0.028,0.103,1.422,0.143,1.405,0.100,-962.859,0.000,0.710,0.000,0.015,0.088,0.000,0.081,0.004,0.000,0.004,0.000,0.004,0.003,0.001,0.010,0.000,0.008,0.001,0.001,0.000,0.006,0.007,0.034,0.267,0.265,1.900
std,102790.175,0.272,0.722,237123.146,402490.777,14493.737,369446.461,0.014,4363.989,141275.767,3522.886,1509.450,11.945,0.002,0.384,0.400,0.043,0.450,0.231,0.911,0.509,0.503,3.266,0.122,0.220,0.197,0.268,0.421,0.384,0.211,0.191,0.195,0.108,0.082,0.059,0.113,0.076,0.135,0.100,0.145,0.161,0.081,0.093,0.111,0.048,0.070,0.108,0.084,0.065,0.110,0.074,0.132,0.101,0.144,0.161,0.082,0.098,0.112,0.046,0.070,0.109,0.082,0.060,0.112,0.076,0.134,0.100,0.145,0.162,0.082,0.094,0.112,0.047,0.070,0.107,2.401,0.447,2.380,0.362,826.808,0.007,0.454,0.009,0.122,0.283,0.014,0.273,0.062,0.005,0.062,0.003,0.059,0.054,0.035,0.099,0.016,0.090,0.024,0.023,0.018,0.084,0.111,0.205,0.916,0.794,1.869
min,100002.000,0.000,0.000,25650.000,45000.000,1615.500,40500.000,0.000,-25229.000,-17912.000,-24672.000,-7197.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.015,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-4292.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,189145.500,0.000,0.000,112500.000,270000.000,16524.000,238500.000,0.010,-19682.000,-2760.000,-7479.500,-4299.000,5.000,1.000,1.000,0.000,1.000,0.000,0.000,2.000,2.000,2.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.334,0.392,0.371,0.058,0.044,0.977,0.687,0.008,0.000,0.069,0.167,0.083,0.019,0.050,0.045,0.000,0.000,0.052,0.041,0.977,0.699,0.007,0.000,0.069,0.167,0.083,0.017,0.054,0.043,0.000,0.000,0.058,0.044,0.977,0.691,0.008,0.000,0.069,0.167,0.083,0.019,0.051,0.046,0.000,0.000,0.041,0.000,0.000,0.000,0.000,-1570.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
50%,278202.000,0.000,0.000,147150.000,513531.000,24903.000,450000.000,0.019,-15750.000,-1213.000,-4504.000,-3254.000,9.000,1.000,1.000,0.000,1.000,0.000,0.000,2.000,2.000,2.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.506,0.566,0.535,0.088,0.076,0.982,0.755,0.021,0.000,0.138,0.167,0.208,0.048,0.076,0.074,0.000,0.004,0.084,0.075,0.982,0.765,0.019,0.000,0.138,0.167,0.208,0.046,0.077,0.073,0.000,0.001,0.086,0.076,0.982,0.758,0.021,0.000,0.138,0.167,0.208,0.049,0.076,0.075,0.000,0.003,0.069,0.000,0.000,0.000,0.000,-757.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
75%,367142.500,0.000,1.000,202500.000,808650.000,34596.000,679500.000,0.029,-12413.000,-289.000,-2010.000,-1720.000,15.000,1.000,1.000,0.000,1.000,1.000,0.000,3.000,2.000,2.000,14.000,0.000,0.000,0.000,0.000,0.000,0.000,0.675,0.664,0.669,0.148,0.112,0.987,0.823,0.051,0.120,0.207,0.333,0.375,0.086,0.121,0.130,0.004,0.028,0.144,0.112,0.987,0.824,0.049,0.121,0.207,0.333,0.375,0.084,0.131,0.125,0.004,0.023,0.149,0.112,0.987,0.826,0.051,0.120,0.207,0.333,0.375,0.087,0.123,0.130,0.004,0.027,0.128,2.000,0.000,2.000,0.000,-274.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000
max,456255.000,1.000,19.000,117000000.000,4050000.000,258025.500,4050000.000,0.073,-7489.000,365243.000,0.000,0.000,91.000,1.000,1.000,1.000,1.000,1.000,1.000,20.000,3.000,3.000,23.000,1.000,1.000,1.000,1.000,1.000,1.000,0.963,0.855,0.896,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,348.000,34.000,344.000,24.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,9.000,8.000,27.000,261.000,25.000

Some interesting values there are max(AMT_INCOME_TOTAL), max(AMT_REQ_CREDIT_BUREAU_QRT) and max(DAYS_EMPLOYED). The last one is actually impossimple (unless a vampire applied for a loan), it literally says that the person started current enployment 1000 years ago. Congrats, an error in the data is found.

In [13]:
# impute by NaN, too many data ot drop
anomaly_ind=app_train[app_train['DAYS_EMPLOYED']==365243.000].index
print(f"{len(anomaly_ind)} out of {len(app_train)} ({len(anomaly_ind)/len(app_train) * 100:.2f}%) have invalid DAYS_EMPLOYED value")
print(f'Default rate for them is {100*app_train.loc[anomaly_ind, "TARGET"].mean():.2f}%. For others {100*app_train.drop(anomaly_ind)["TARGET"].mean():.2f}%')
app_train.loc[anomaly_ind, 'DAYS_EMPLOYED']=np.nan

55374 out of 307511 (18.01%) have invalid DAYS_EMPLOYED value
Default rate for them is 5.40%. For others 8.66%

One can also plot the features individually and observe outstanding parts. Not so reliable. Instead, let's use [MAD](https://towardsdatascience.com/how-to-perform-univariate-outlier-detection-in-python-for-machine-learning-b9fb05e72661).

In [37]:
from scipy import stats

x=app_train['AMT_GOODS_PRICE']
stats.kstest(x, 'norm')

KstestResult(statistic=nan, pvalue=nan)

In [ ]:
def find_outliers(data, x, y='TARGET'):
    data

SyntaxError: unexpected EOF while parsing (<ipython-input-14-0bbb0143ce98>, line 2)

In [38]:
# for c in range(0, len(numeric_cols)-2, 3):
#     fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(12, 3))
#     for i, ax in enumerate((ax1, ax2, ax3)):
#         ax.hist(app_train[numeric_cols[c+i]])
#         ax.set_title(f'{numeric_cols[c+i]}')

In [ ]:
90